<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="https://www.google.com/s2/u/0/favicons?domain=maleina.com">
        <title>News or Opinion</title>
    </head>

    <body>
        <header>
            <div class="logo">
               <h1> News or Opinion?<h1>
            </div>
            <div class="navbar">
            </div>
        </header>

        <main>
            <section id="submit-box">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <h2>Don't mistake opinion for news again.</h2>
                    <label for="url">Paste a news article URL in the box below to analyze its subjectivity:</label>
                    <input id="url" type="text" name="input" value="" placeholder="http://">
                    <div class="btn-container">
                        <button id="submit-btn" class="button" type="button" name="" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
                        <button id="reset-btn" class="button" type="button" onclick="return Client.handleReset(event)">Reset</button>
                    </div>

                </form>
            </section>

            <section id="waiting-box" class="inactive">
                <h2>Computing results ...</h2>
                <!-- Loader -->
                <div class="loader-container">
                    <div class="loader" id="loader"></div>
                </div> 
                
            </section>

            <section id="results-box" class="inactive">
                <div id="results">
                    <h2>Analysis Results</h2>
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                    <a id="key-link" href="#key"><small>See Key at Bottom</small></a>
                    <div id="text"></div>
                </div>
            </section>

            <section id="key" class="inactive">
                <h2>Key</h2>
                <p><em>Polarity: </em>The tone of the text. Can be <em>positive</em>, <em>neutral</em>, or <em>negative</em>.</p>
                <p><em>Subjectivity: </em>Can be <em>subjective</em> (it reflects the author's opinion) or <em>objective</em> (it expresses fact).</p>
            </section>
        </main>

        <footer>
            <p>Text analysis performed via <a href="https://aylien.com/">Aylien</a></p>
        </footer>

    </body>
</html>
