<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>News or Opinion</title>
    </head>

    <body>

        <header>
            <div class="logo">
                News or Opinion?
            </div>
            <div class="navbar">
            </div>
        </header>

        <main>
            <section id="submit-box">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <h2>Don't mistake opinion for news again. Enter a news article URL in the box below to analyze it's subjectivity.</h2>
                    <br>
                    <input id="url" type="text" name="input" value="" placeholder="http://">
                    <input id="submit-btn" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <input id="reset-btn" type="reset" value="Reset" onclick="return Client.handleReset(event)">
                </form>
            </section>

            <section id="waiting-box">
                <h2>Computing results ...</h2>
            </section>

            <section id="results-box">
                <div id="results">
                    <h2>Analysis Results</h2>
                    <br>
                    <div id="polarity"></div>
                    <br>
                    <div id="subjectivity"></div>
                    <br>
                    <div id="text"></div>
                    <br>
                </div>
                <div id="key">
                    <h2>Key:</h2>
                    <br>
                    <p><em>Polarity: </em>The tone of the text. Can be <em>positive</em>, <em>neutral</em>, or <em>negative</em>.</p>
                    <br>
                    <p><em>Subjectivity: </em>Can be <em>subjective</em> (it reflects the author's opinion) or <em>objective</em> (it expresses fact).</p>
                </div>
            </section>
        </main>

        <footer>
            <p>Text analysis performed via <a href="https://aylien.com/">Aylien</a></p>
        </footer>

    </body>
</html>
