@import "_variables.scss";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1rem;
    background: map-get($colors , main);

    a {
        text-decoration: none;
        color: black;
    }
}