@import "_variables.scss";

#submit-box,
#results-box {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background: map-get($colors , offwhite);

    h2 {
        font-weight: bold;
        text-align: center;
    }
}

#submit-box {
    margin-top: 4rem;
}

#results-box {
    display: none;
    margin-top: 1rem;
}

#reset-btn {
    display: none;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}


