@import "_variables.scss";

#submit-box,
#waiting-box,
#results-box {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background: map-get($colors , offwhite);

    h2 {
        font-weight: bold;
        text-align: center;
    }
}

#submit-box {
    margin-top: 4rem;
}

#waiting-box,
#results-box {
    display: none;
    margin-top: 1rem;
}

#reset-btn {
    display: none;
}

#results-box em {
    font-weight: bold;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: map-get($colors , main);
    color: black;
    font: inherit;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px 5px;
    line-height: 16px;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: darkgray;
    color: var(--dark-green);
  }
  
  .button:focus {
    outline: none;
  }
