header {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    padding: 10px 40px;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #057DCD;
}
